/*Можем добавлять стили сразу в HTML документе
Примеры
<body>
    <h1 style="color: blue;">Welcome to my world</h1> изменяем цвет заголовка
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>         применится для всех тегов прописанных здесь
        h1 {
            color: blue;
            text-align: center; выравнивание текста
        }
     </style>
</head>

Либо создаем отделный CSS файл и подключаем его в HTMl файл - самый оптимальный вариант
<link rel="stylesheet" href="CSS lesson one.css">
И тогда код выглядит так */

/*Специфичность
Степени важности определения стилей
1. <Style> когда стиль прописан для елемента в html коде, имеет высший приоритет
2. id второй приоритет по важности
3 class третий по важности
4. type самый последний
    <h1 style="color: red;">Hello world</h1> высший
    <h2 id="foo">Hello world</h2> второй
    <h3 class="baz">Hello world</h3> третий
    <h4 class="baz">Hello world</h4>*/

/*
color: колір тексту
text-align: де елементи розміщуються на сторінці
background-color: можна встановити будь-який колір
width: ширина у пікселях або відсотках від сторінки
height: висота у пікселях або відсотках сторінки
padding: скільки місця слід залишити всередині елемента
margin: скільки місця слід залишити поза елементом
font-family: тип шрифту для тексту на сторінці
font-size: кегль шрифту у пікселях
border: тип межі (суцільна, штрихова тощо) та колір
*/

h1 {
    color: blue; /* задаем цвет текста*/
    text-align: center; /*выравнивание текста*/
}
div {
    background-color: blue;   /*задаем цвет фона*/
    width: 100px;  /*задаем размеры выбранного блока*/
    height: 200px;
    padding: 50px; /*меняю отступы внутри блока*/
    margin: 100px; /*меняю расположение блока на странице */
}
div {
    font-family: Arial, sans-serif; /*задаем шрифт для конкретного блока*/
                                    /*sans-serif указываем на тот случай если браузер не поддерживает указанный
                                        шрифт*/
    font-size: 28px; /*изменяем размер текста в блоке*/
    font-weight: bold; /*меняем жирность шрифта на полужирный*/
    border: 3px solid black; /* делаем рамку для блока*/
}
table {
    border: 1px solid black; /* добавим рамку в таблицу*/
    border-collapse: collapse; /* эта функция возьмет все елементы таблицы в рамки*/
}
th, td {
    border: 0.5px solid black; /* добавим рамку в каждый елемент таблицы*/
    padding: 5px;
    text-align: center;
}

#foo {
    color: pink; /*задаем стили для элемента с уникальным именем*/
}

.baz {
    color: green; /* создаем изменения для класса*/
}