// Sass – це мова, яка дозволяє нам ефективніше писати CSS кількома способами, одним із яких є створення змінних,
// як у наведеному прикладі
// Переменные начинаются со знака доллар
// Переменным можем присваивать необходимы свойства и отдавать их елементам
// браузер файлы scss не воспринимает поэтому их нужно переводить в обычный css с помощью компеляции

$color: red

ul {
    color: $color;
    font-size: 14px;
}
ol {
    color: $color;
    font-size: 18px;
}